!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    title= locals.title
    link(rel='stylesheet',type='text/css',href='/{%= assets_dir %}css/{%= name %}.css')
  body
    h1= page.title
    != page.html

    script(src='/{%= assets_dir %}js/{%= name %}.js', type="text/javascript")

